.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* .is-over-dropzone {
  background: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%),
    linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 22px 2px, 2px 22px, 22px 2px, 2px 22px;
  background-position: left top, right top, left bottom, left top;
  padding: 2px;
  animation: border-dance 12s infinite linear;
  border: none;
} */
.is-over-dropzone {
  /* box-shadow: 0px 0px 18px 3px #f9d739; */

  /* background-position: 212px 0px, 0px 116px, 0px 0px, 216px 116px; */
}

@keyframes border-dance {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 18px 3px #f9d739;
  }
  to {
    box-shadow: 0 0 10px 6px #fdcf02;
  }
}
